# ignore all files in ./images
images

# ignore all files in ./resources/urdf_files
resources/urdf_files

# ignore all files in ./resources/pickle
resources/pickle

# ignore all files in ./scripts/unused_scripts
scripts/deprecated
