<?xml version="1.0" ?>
<robot name=""> <!-- name="..." -->
  <link name=""> <!-- name="..." -->
    <contact>
      <lateral_friction value="100.0"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0.00 0.00 0.00"/>
       <mass value=""/> <!-- value="..." -->
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="" scale=""/> <!-- filename="..." scale="..." -->
      </geometry>
       <material name=""> <!-- name="..." -->
        <color rgba=""/> <!-- rgba="..." -->
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="" scale=""/> <!-- filename="..." scale="..." -->
      </geometry>
    </collision>
  </link>
</robot>